{% extends 'credit/base.html' %}
{% load static %}

{% block title %}
Add new loan
{% endblock %}

{% block body %}
<div class="add-loan-container" >
    <div>
        <h1> Add new loan </h1>
            <form method="post">
        {% csrf_token %}
        {{ form }}
        <script
            src="{% static 'js/countLoanDetails.js' %}">
        </script>
        <button type="submit">
            Add
        </button>
    </form>
    </div>
    <div>
        Graphic block will be here soon
    </div>
</div>
<footer>
        <a href="{% url 'credit:loans_list' %}">Back to loans list</a>
</footer>

{% endblock %}